.DS_Store
node_modules
/build
/.svelte-kit
/.vscode
/package
/static
/tests
/test-results
/lighthouse
/.github
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
bun.lockb
yarn.lock

# Configs
svelte.config.js
unlighthouse.config.ts
vite.config.js
playwright.config.ts
postcss.config.cjs
tailwind.config.cjs
.eslintrc.cjs

/.vscode
