{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "semi": true,
  "svelteStrictMode": true,
  "svelteIndentScriptAndStyle": true,
  "svelteSortOrder": "scripts-options-markup-styles",
  "trailingComma": "none",
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss"
  ],
  "pluginSearchDirs": false
}
