.admin-outline.svelte-1yjb8pi{outline-color:#ef4444
}.admin-text.svelte-1yjb8pi{--tw-text-opacity:1;color:rgb(239 68 68 / var(--tw-text-opacity))
}.moderator-outline.svelte-1yjb8pi{outline-color:#f97316
}.moderator-text.svelte-1yjb8pi{--tw-text-opacity:1;color:rgb(249 115 22 / var(--tw-text-opacity))
}.developer-outline.svelte-1yjb8pi{outline-color:#84cc16
}.developer-text.svelte-1yjb8pi{--tw-text-opacity:1;color:rgb(132 204 22 / var(--tw-text-opacity))
}.helper-outline.svelte-1yjb8pi{outline-color:#3b82f6
}.helper-text.svelte-1yjb8pi{--tw-text-opacity:1;color:rgb(59 130 246 / var(--tw-text-opacity))
}.nerd-text.svelte-1yjb8pi{--tw-text-opacity:1;color:rgb(234 179 8 / var(--tw-text-opacity))
}.nerd-outline.svelte-1yjb8pi{outline-color:#eab308
}.default-outline.svelte-1yjb8pi{outline-color:#eab308
}.default-text.svelte-1yjb8pi{--tw-text-opacity:1;color:rgb(234 179 8 / var(--tw-text-opacity))
}