/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.v-center {
    transform: translateY(-50%);
}

.text-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.thing {
    animation-name: thing;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes thing {
    0% {
        max-width: 0;
    }

    50% {
        max-width: 100%;
    }

    100% {
        max-width: 0;
    }
}